@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-main {
  background-color: #FF7528;
}

.txt-main {
  color: #ff833d;
}

.text-primary {
  color: white;
}

.bg-muted {
  background-color: #f1f5f9;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}
